body {
  margin: 0;
  padding: 0;
  background-color: red;
}

.slidershow {
  width: 1000px;
  height: 630px;
  overflow: hidden;
  margin-top: 95%;
  border: 2px solid red;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 75px;
  height: 10px;
  border: 2px solid red;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: red;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}

* {
  margin: 0;
  padding: 0;
  color: orangered;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  border-bottom: 5px solid red;
}

.bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(afbeeldingen/MicrosoftTeams-image5.png);
  background-repeat: no-repeat;
  margin-top: -25px;
}

.balk {
  width: auto;
  height: 115px;
}

.headertitle {
  font-size: 20px;
  display: flex;
  color: red;
}

.page {
  width: 100px;
  height: 50px;
  background-color: black;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.page1 {
  width: 160px;
  height: 50px;
  background-color: black;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

li {
  list-style: none;
}

.page:hover {
  color: red;
}

.slideshowbody .img {
  height: 1000px;
  width: 100%;
}

.tussenbalk {
  width: auto;
  height: 40px;
  background-color: black;
  text-align: center;
  font-size: 10px;
  padding: 15px;
}

.logo1 {
  width: 75px;
  height: 60px;
}

.txt2 {
  width: auto;
  height: 720px;
  background-color: rgb(31, 30, 30);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social {
  width: auto;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

.block {
  width: 200px;
  height: 200px;
  background-color: black;
  border-left: 2px solid red;
  border-right: 2px solid red;
  margin-top: 40px;
  text-align: center;
}

h3 {
  margin: 10px;
}

.tussenbalk1 {
  background-color: red;
  width: auto;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
}

.socials {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

footer {
  width: auto;
  height: 50px;
  background-color: black;
  text-align: center;
  font-size: 10px;
  padding: 15px;
  text-align: center;
}

.pfp {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-right: 23%;
  border: 2px solid red;
}

body {
  font-family: Arial;
}

.vid {
  width: 100%;
  height: 100%;
}
